body {
width: 1100px;
margin: auto;
background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(redbrick.bmp);
color: white;
}

#header {
  margin: auto;
  width: auto;
  padding: 10px 0 10px 0;
  border-style: solid;
  border-width: 2px 0 2px 0;
  border-color: white;
  color: white;
}

#logo {
  font-family: Arial;
  margin-bottom: 5px;
  font-weight: bolder;
  text-shadow: 0 0 3px #ff0000;
  text-align: left;
}

#nav {
  font-family: Arial;
  text-align: left;
}

.page {
  font-family: Arial;
  font-size: 12px;
}

a {
  color : white;
}

th {
  padding: 3px;
  border: 1px solid #cdcdcd;
  background-color: #f5f5f5;
}

h1 {
  font-style: italic;
}

